body {
  font-size: 1.15em;
}

.icon {
  width: 48px;
  height: auto;
}

section {
  padding: 50px;
}

main {
  margin: 100px;
}

#menu-button {
  display: none;
}

nav h1 {
  font-size: 1.5em;
}

.nav-links {
  display: flex;
  position: static;
  background: none;
  border: none;
  padding: 0;
  flex-direction: row;
}

main .container {
  overflow: auto;
}

.container-portfolio {
  width: 95%;
  flex-direction: row;
  justify-content: space-around;
}

.card-portfolio {
  min-width: 500px;
  max-width: 750px;
}

.container-technologies {
  flex: auto;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.techFrame {
  width: 45%;
}

.tech-cards {
  margin: 10px auto;
  padding: 25px;
  width: 150px;
  height: 150px;
}

menu button {
  display: none;
}

.container-about-me {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person {
  width: 20%;
  margin: 25px;
}

.text {
  width: 60%;
  margin: 25px;
}

.card-participation {
  min-width: 400px;
}

.container-contact {
  max-height: none;
}
