@charset "UTF-8";

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

header {
    grid-column: 1 / -1;
}

main,
aside {
    grid-column: 2 / -2;
    margin: 0;
}

.person {
    width: 10%;
}

footer {
    grid-column: 1 / 1;
}